<div class="row" data-bind="visible: state() === 1">
	<div class="span2">

	</div>
	<div class="span8">
		<div>
			<span class="row">
				<h4 class="clickable span4" data-bind="click: function () { clickItem('OLD'); }">OLD</h4><span class="span4"> OR </span><h4 class="clickable span4" data-bind="click: function () { clickItem('NEW'); }">NEW</h4>
			</span>
			<input data-bind="value: oldOrNew, returnAction: checkOldOrNew, hasFocus: focusOldOrNew, valueUpdate: 'afterkeydown'" />
		</div>
	</div>	
	<div class="span2">

	</div>
</div>
<div class="row" data-bind="visible: state() === 2">
	<div class="span2">

	</div>
	<div class="span8">		
		<div data-bind="with: character">
			<h5>CHARACTER NAME</h5>
			<input data-bind="value: name, returnAction: $parent.create, hasFocus: $parent.focusNameInput, valueUpdate: 'afterkeydown'" />
		</div>
	</div>	
	<div class="span2">

	</div>
</div>
<div class="row" data-bind="visible: state() === 3">
	<div class="span1">

	</div>
	<div class="span2" data-bind="with: character">
		<h3>ATTRIBUTES</h3>
		<ul>
			<li>
				<span>NAME: </span><span data-bind="text: name"></span>
			</li>
			<li>
				<span>HIT POINTS: </span><span data-bind="text: hitPoints"></span>
			</li>
			<li>
				<span>GOLD: </span><span data-bind="text: gold"></span>
			</li>
			<li>
				<span>STRENGTH: </span><span data-bind="text: strength"></span>
			</li>
			<li>
				<span>DEXTERITY: </span><span data-bind="text: dexterity"></span>
			</li>
			<li>
				<span>CONSTITUTION: </span><span data-bind="text: constitution"></span>
			</li>
			<li>
				<span>WISDOM: </span><span data-bind="text: wisdom"></span>
			</li>
			<li>
				<span>INTELLECT: </span><span data-bind="text: intellect"></span>
			</li>
		</ul>
	</div>
	<div class="span8">
		<div class="row">
			<h2><a href="https://www.shroudoftheavatar.com/?p=39149">WHY DOES THIS GAME LOOK OLD?</a></h2>
		</div>
		<div data-bind="with: character">
			<h5>CLASSIFICATION</h5>
			<h5>WHICH DO YOU WANT TO BE</h5>
			<ul data-bind="foreach: $parent.classTypes">
				<li data-bind="click: function () { $parents[1].clickItem(name()); }">
					<h4 data-bind="text: name"></h4>
				</li>
			</ul>
			<input data-bind="value: $parent.className, returnAction: $parent.addClass, hasFocus: $parent.focusClassInput, valueUpdate: 'afterkeydown'" />
		</div>
	</div>
	<div class="span1">

	</div>
</div>