<!-- Text entry area -->

<div class="row">
	<div class="span2">

	</div>
	<div class="span8">
		<div class="row">
			<h3 data-bind="text: gameMessage"></h3>
		</div>
		<div class="row" data-bind="visible: !map() && state() === 6">
			<ul data-bind="foreach: maps">
				<li class="clickable" data-bind="click: function () { $parent.clickMap(id); }">
					<strong><span data-bind="text: id"></span> - <span data-bind="text: name"></span></strong>
				</li>
			</ul>
		</div>
		<div class="row">
			<input data-bind="value: gameInput, returnAction: enterCommand, hasFocus: focusGameInput, valueUpdate: 'afterkeydown', disable: isGameOver" />
		</div>
	</div>	
	<div class="span2">
		<button data-bind="click: restartGame, visible: isGameOver">START OVER</button>
	</div>
</div>


<!-- Main game area -->

<div class="row gameboard">
	<div class="span1">

	</div>

	<!-- Left side panel -->
	<div class="span2" data-bind="with: player, visible: session.settings().ShowAttributes">
		<h3>ATTRIBUTES</h3>
		<ul>
			<li>
				<span>NAME: </span><span data-bind="text: name"></span>
			</li>
			<li>
				<span>CLASS: </span><span data-bind="with: classType"><span data-bind="text: name"></span></span>
			</li>
			<li>
				<span>HIT POINTS: </span><span data-bind="text: hitPoints"></span>
			</li>
			<li>
				<span>GOLD: </span><span data-bind="text: gold"></span>
			</li>
			<li>
				<span>STRENGTH: </span><span data-bind="text: strength"></span>
			</li>
			<li>
				<span>DEXTERITY: </span><span data-bind="text: dexterity"></span>
			</li>
			<li>
				<span>CONSTITUTION: </span><span data-bind="text: constitution"></span>
			</li>
			<li>
				<span>WISDOM: </span><span data-bind="text: wisdom"></span>
			</li>
			<li>
				<span>INTELLECT: </span><span data-bind="text: intellect"></span>
			</li>
			<li>
				<!-- ko if: weapon() -->
				<span>WIELDING: </span><span data-bind="text: weapon().name"></span>
				<!-- /ko -->
				<!-- ko ifnot: weapon() -->
				<span>WIELDING: </span><span>NOTHING</span>
				<!-- /ko -->
			</li>
			<li>
				<!-- ko if: item() -->
				<span>ARMOR: </span><span data-bind="text: item().name"></span>
				<!-- /ko -->
				<!-- ko ifnot: item() -->
				<span>ARMOR: </span><span>NOTHING</span>
				<!-- /ko -->
			</li>
		</ul>
		<h3>WEAPONS</h3>
		<ul data-bind="foreach: weapons">
			<li data-bind="click: function () { $parents[1].clickWeapon($index); }, css: { 'clickable': $parents[1].isWielding() }">
				<strong><span data-bind="text: $index() + 1"></span>-<span data-bind="text: name"></span> - DMG: <span data-bind="text: damage"></span></strong>
			</li>
		</ul>
		<div data-bind="visible: (classType() && classType().name() !== 'FIGHTER') ">
			<h3>SPELLS</h3>
			<ul data-bind="foreach: spells">
				<li data-bind="click: function () { $parents[1].clickSpell($index); }, css: { 'clickable': $parents[1].isCasting() }">
					<strong><span data-bind="text: $index() + 1"></span>-<span data-bind="text: name"></span> - DMG: <span data-bind="text: damage"></span></strong>
				</li>
			</ul>
		</div>
		<h3>ITEMS</h3>
		<ul data-bind="foreach: items">
			<li>
				<strong><span data-bind="text: $index() + 1"></span>-<span data-bind="text: name"></span>- VALUE: <span data-bind="text: value"></span></strong>
			</li>
		</ul>
	</div>



	<!-- Center panel -->

	<!-- ko if: state() === 1 -->
	<div class="span7">
		<span class="row">
			<h4 class="clickable span4" data-bind="click: function () { clickItem('OLD'); }">OLD</h4><span class="span4"> OR </span><h4 class="clickable span4" data-bind="click: function () { clickItem('NEW'); }">NEW</h4>
		</span>
	</div>
	<!-- /ko -->

	<!-- ko if: state() === 2 -->
	<div class="span7">
		<div data-bind="with: player">
			<h5>ENTER NAME ABOVE</h5>
		</div>
	</div>
	<!-- /ko -->

	<!-- ko if: state() === 3 -->	
	<div class="span7">
		<div class="row">
			<h2><a href="https://www.shroudoftheavatar.com/?p=39149">WHY DOES THIS GAME LOOK OLD?</a></h2>
		</div>
		<div data-bind="with: player">
			<ul data-bind="foreach: $parent.classTypes">
				<li class="clickable" data-bind="click: function () { $parents[1].clickItem(name()); }">
					<h4 data-bind="text: name"></h4>
				</li>
			</ul>
		</div>
	</div>
	<!-- /ko -->

	<!-- ko if: state() === 4 -->
	<div class="span7">	
		<div>
			<div>
				<h5>NUMBER, ITEM, PRICE</h5>
				<ul>
					<li class="clickable"  data-bind=" click: function () { clickItem(0); }">0 - DONE</li>
					<!-- ko foreach: weaponTypes -->
					<li class="clickable" data-bind="text: (id() + ', ' + name() + ', ' + value()), click: function () { $parent.clickItem($index); }"></li>
					<!-- /ko -->
				</ul>
			</div>
		</div>
	</div>
	<!-- /ko -->

	<!-- ko if: state() === 5 -->
	<div class="span7">
		<div>
			<div class="">
				<h5>NUMBER, ITEM, PRICE</h5>
				<ul>
					<li class="clickable"  data-bind=" click: function () { clickItem(0); }">0 - DONE</li>
					<!-- ko foreach: items -->
					<li class="clickable"  data-bind="text: (id() + ', ' + name() + ', ' + value()), click: function () { $parent.clickItem($index); }"></li>
					<!-- /ko -->
				</ul>
			</div>
		</div>
	</div>
	<!-- /ko -->

	<!-- ko if: state() === 6 -->
	<!-- ko with: centeredMap -->
	<div class="span7" data-bind="visible: $parent.session.settings().ShowMap">
		<ul class="unstyled " data-bind="foreach: rows">
			<li>
				<ul class="unstyled game-row" data-bind="foreach: $data">
					<li class="game-tile">
						<span data-bind="text: image"></span>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<!-- /ko -->
	<!-- /ko -->






	<!-- Right side panel -->
	<div class="span2" data-bind="visible: session.settings().ShowInstructions">
		<h3>INSTRUCTIONS</h3>
		<ul data-bind="foreach: instructions">
			<li class="clickable" data-bind="click: $parent.clickInstruction">
				<span data-bind="text: command"></span> - <span data-bind="text: text"></span>
			</li>
		</ul>
		<div data-bind="visible: (player() && player().classType() && player().classType().name() !== 'FIGHTER') ">
			<h3>AVAILABLE SPELLS</h3>
			<ul data-bind="foreach: availableSpells">
				<li>
					<strong><span data-bind="text: $index() + 1"></span>-<span data-bind="text: name"></span>- COST: <span data-bind="text: value"></span></strong>
				</li>
			</ul>
		</div>
	</div>
	<div class="span2" data-bind="visible: !session.settings().ShowInstructions()">
		<h3>INSTRUCTIONS</h3>
		<ul>
			<li>
				<span>20 - SETTINGS</span>
			</li>
		</ul>
	</div>
</div>