<div>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <a class="brand" data-bind="attr: { href: router.navigationModel()[0].hash }">
                <span>D&D SotA - © 1977-2014 Richard Garriott - Ported by Kadumel - @pwkad</span>
            </a>
            <ul class="nav" data-bind="foreach: router.navigationModel">
                <li data-bind="css: { active: isActive }">
                    <a data-bind="attr: { href: hash }, html: title"></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-fluid page-host" data-bind="router: { cacheViews:true }"></div>
</div>